* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
}


@font-face {
    font-family: text;
    src: url(./iJWKBXyIfDnIV7nBrXw.woff2);
}


#main {
    width: 100%;



    .section-main {
        background-image: url(./hero_slider_.jpeg);
    }

    header {
        width: 100%;


        .top {
            width: 100%;
            background-color: #000000;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 0.5rem;

            .info {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                font-family: text;
                display: none;
            }

            .bottom {
                font-family: text;
                text-transform: capitalize;
                text-align: center;
                width: 100%;

            }
        }


        nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.741);
            color: white;



            .logo,
            .info {
                width: 50%;
            }

            .logo {

                img {
                    width: 9rem;
                }

                .list {
                    display: none;
                }
            }

            .deatils {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1.5rem;

                li,
                h4,
                .content {
                    display: none;
                    flex-direction: column;
                }

                .menu-nav {
                    display: none;
                }
            }

        }





    }

    .hero-section {
        width: 100%;
        padding: 8rem 1rem;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 20%, rgba(255, 170, 60, 0.75) 100%);
        display: flex;
        background-size: cover;

        .social {
            display: none;
        }


        h3 {
            color: white;
            font-family: text;
            font-weight: 300;
        }

        h1 {
            width: 100%;
            font-size: 2.8rem;
            color: white;
            margin-top: 1rem;
            font-family: text;
        }

        p {
            font-size: 1rem;
            color: white;
            font-family: text;
            text-transform: capitalize;
            line-height: 1.4rem;
            margin-top: 1rem;
        }

        button {
            padding: 1rem 2rem;
            background-color: orange;
            border: none;
            margin-top: 1rem;
            color: white;
            border-radius: 0.2rem;
            font-size: 1rem;
        }
    }


    .keywords {
        width: 100%;
        background: url(moving_text_shape.png);
        background-color: #000000;
        color: white;
        display: flex;
        margin-bottom: 5rem;
        padding: 2rem 1rem;
        font-family: text;
        background-size: cover;

        .move {
            width: 100%;


            .track {
                display: flex;
                white-space: nowrap;
                gap: 2rem;
                font-size: 1.3rem;


            }

        }



    }


    .section3 {
        display: flex;
        flex-direction: column;
        width: 100%;


        padding: 1rem;

        .top {
            width: 100%;
            position: relative;
            margin-bottom: 10rem;



            img:nth-child(1) {

                width: 10rem;
                position: absolute;
                top: 80%;
                z-index: -1;
                left: 10%rem;


            }

            img:nth-child(2) {
                border: 1.2rem solid rgb(242, 243, 245);
                border-radius: 0.5rem;

                width: 100%;
            }

            .batch {

                position: absolute;
                top: 42%;
                left: 10%;
                z-index: 2;
                background-image: url(./assets/experience_bg.jpeg);
                width: 90%;
                height: 70%;
                padding: 8rem 3rem;
                background-size: cover;
                text-align: center;
                border: 1.2rem solid white;
                border-radius: 0.5rem;
                color: white;
                font-family: text;
                display: flex;

                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;

                i {
                    font-size: 3rem;
                }

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.2rem;
                }

            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-family: text;

            h4 {
                color: orangered;
                font-weight: normal;
            }

            h1 {
                color: #000000eb;
            }

            p {
                line-height: 1.7rem;
            }

            .keys {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                 .content {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .heading {
                    display: flex;
                    gap: 1rem;

                    i {
                        background-color: orangered;
                        padding: 0.3rem;
                        color: white;
                        border-radius: 50%;
                    }
                }
            }
            }


            button{
                width: fit-content;
                background-color: orangered;
                border: none;
                padding: 0.5rem 1rem;
                font-size: 1.3rem;
                color: white;
                border-radius: 0.5rem;
            }
           


            .progress-container {
                width: 100%;

                .heading {
                    display: flex;
                    justify-content: space-between;
                }


                .prog {
                    width: 100%;
                
                }

               .prog::-webkit-progress-bar{
                background-color: aliceblue;
               }

               .prog::-moz-progress-bar {
  background-color: green;
}


            }
        }
    }


}

@media (min-width:1100px) {

    #main {
        width: 100%;

        header {
            width: 100%;

            nav {
                width: 100%;

                .logo {
                    display: flex;
                    align-items: center;
                    gap: 4rem;
                    width: 80%;

                    .list {
                        display: block;

                        ul {
                            display: flex;
                            list-style: none;
                            gap: 1.2rem;
                            font-size: 1.1rem;
                            font-family: text;
                        }
                    }
                }
            }
        }


        .hero-section {
            padding: 10rem 10rem;
            gap: 4rem;


            .social {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                i {
                    color: white;
                    border: 1px solid white;
                    padding: 0.8rem;
                    border-radius: 50%;
                }
            }

            h3 {
                color: white;
                font-family: text;
                font-weight: 300;
            }

            h1 {
                width: 90%;
                font-size: 3.8rem;
                color: white;
                margin-top: 1rem;

                font-family: text;
            }

            p {
                font-size: 1rem;
                color: white;
                font-family: text;
                text-transform: capitalize;
                line-height: 1.4rem;
                margin-top: 1rem;
            }


        }


        .section3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        padding: 0rem 5rem;

        .top , .bottom{
            width: 50%;
        }

        
        .top {
          
          


            img:nth-child(1) {

         
                position: absolute;
              top: 90%;
                 left: 10%;


            } 
        
               img:nth-child(2) {
                border: 1.2rem solid rgb(242, 243, 245);
                border-radius: 0.5rem;

                width:80%;
            }

            .batch {

               
                left: 25%;
               
                width: 70%;
                height: 70%;
                
            }
        
        }

        .bottom{

            .keys {
              
                flex-direction: row;
               

                .content{

                    
                .heading {
                    align-items: center;
                    

                    i {
                        background-color: orangered;
                       
                        color: white;
                        border-radius: 50%;
                    }
                }
                }




            }



        }
    
    }


    }


}


@media (max-width:1100px) {


    #main {
        width: 100%;


        header {





            nav {
                .deatils {
                    display: flex;




                    .menu-nav {
                        margin-left: auto;
                        display: flex;

                        i {
                            display: flex;
                            font-size: 1.5rem;
                            background-color: orange;
                            padding: 0.5rem;
                            border-radius: 0.5rem;
                        }
                    }


                }
            }


        }
    }
}


@media (min-width:750px) {

    #main {

        header {

            .top {
                width: 100%;
                padding: 1rem;


                .info,
                .bottom {
                    width: 50%;
                }

                .info {
                    display: flex;

                }

                .bottom {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            nav {
                width: 100%;
                padding: 0.5rem;



                .deatils {
                    display: flex;


                    li,
                    h4,
                    .content {
                        display: flex;
                        flex-direction: column;
                        font-family: text;
                    }




                }
            }
        }

        width: 100%;


        .hero-section {

            padding: 10rem 5rem;
            background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 20%, rgba(255, 170, 60, 0.75) 100%);
            display: flex;
        }

    }
}